# Python bytecode
*.py[cod]
__pycache__/

# Virtual environments
venv/
.env/

# Django migrations
*.py[cod]

# Database files
db.sqlite3
*.db

# Ignore compiled files
*.so
*.o
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

src/