django==5.1.1 # this demo project is using django 5.1.1 but the requirement for ksu_events is only django>=5
git+https://github.com/zombiepaladin/ksu-events.git # use the ksu_events package from github
